################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net6.0
/.vs
/.config
/obj
/Properties
/WebApi.Exceptions/bin/Debug/net5.0
/WebApi.Exceptions/obj
/WebApi/bin/Debug/net6.0/runtimes
/WebApi/bin/Debug/net6.0/WebApi.Exceptions/bin/Debug/net5.0
/WebApi/obj
/WebApi/bin/Debug/net6.0
/WebApi.Business/bin/Debug/net5.0
/WebApi.Business/obj
/Webapi.Domain/bin/Debug/net6.0
/Webapi.Domain/obj
/WebApi.Business/bin/Debug/net6.0
/WebApi.Data/bin/Debug
/WebApi.Data/obj/Debug
/WebApi.Data/obj
/old/bin/Debug/net6.0
/old/obj
/old
/WebApi.Exceptions/bin/Debug/net6.0

